html
{
    font-family: 'Montserrat', Helvetica;
}

h1{
    color: #FFFFFF;
}


p{
    color: #FFFFFF;
}

header
{
    overflow-y: hidden;
    overflow-x: hidden;

    background-color: #FFFFFF;

    display:flex;

    justify-content: center;

    width: 100%;

    max-height: 50vh;
    height: 80vw;
}

header img
{
    position:absolute;

    align-self: center;

    height: 35vw;

    max-height: 25vh;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle {

    max-height: 50vh;
    width: 90vw;

    animation: rotate 20s linear infinite;
}

.circle text {
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: 0.31em;
}

path {
    fill: transparent;
}
  
text {
    fill: #1C2E7F;
}

main
{
    background-color: #1C2E7F;
}

footer
{
    background-color: #D9D9D9;

    padding-top: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
}


























.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle {

    width: 5vh;
    height: 1vh;
    background: #FFFFFF;
    position: relative;
    transition: .25s all cubic-bezier(.17,.67,.09,.97);
  }
  
  .toggle.open::after {
    transform: rotate(90deg);
    opacity: 1;
  }
  
  .toggle.open {
    transform: rotate(90deg);
  }
  
  .toggle::after {
    content: "";
    width: 5vh;
    transition: .25s all cubic-bezier(.17,.67,.09,.97);
    transition-delay: .1s;
    height: 1vh;
    position: absolute;
    opacity: 0;
    background: #FFFFFF;
  }
  
  body {
    margin: 0;
    padding: 0;
  }